body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* barraNavegacao.css */

.navbar-custom {
  background-color: #ffc107; /* Cor de fundo */
  color: #000; /* Cor do texto */
}

.navbar-custom .navbar-brand {
  color: #000; /* Cor do texto do logotipo */
}

.navbar-custom .navbar-nav .nav-link {
  color: #000; /* Cor do texto dos links */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #333; /* Cor do texto dos links ao passar o mouse */
}
